body {
	background-image: url(Imagenes/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment:top;
}

.banner {
	font-size: 70px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	top: 150px;
	position: relative;
	height: 600px;

}

.rojo {
	background-color: #A69076;
}
.azul{
	background-color: #343D59;
}
.alto{
	height: 250px;
	width: 100%;
}
.padding-mas {
	padding-top: 15px;
	padding-bottom: 15px;
}
.blanco {
	color: white;
}
.alinear {
	vertical-align: middle;
}
.icon {
	height: 80px;
	width: 100px;
	border-radius: 50%;
	background-color: black;
	line-height: 100px;
	text-align: center;
}



